 
.navbar-brand{
    padding-left: 20px;
}
.navbar-toggler{
    margin-block-end: auto;
}
.navbar { 
    background-image: linear-gradient( #140065, rgb(0 0 0));
    padding-inline-start: 10px;
    margin: 0px;
    padding: 0%;
    box-shadow: 3px 4px 10px 5px #747480;
}
.navbar-brand, .nav-link{
    color: black;
    display: f;
}
.navbar-brand, .nav-link :active, .nav-link :hover{
    color: black;
}

#heading{
    padding: 5px;
    background-color: aqua;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: end;
    margin-right: 5%;
}}
.navbar-toggler-icon{
    filter: invert();
}
 
 .nav-link { 
    color: #f6f6f6;
    
    font-weight: bold;
    padding: 15px 35px;
} 
 .nav-link:hover, .nav-link:active { 
    color: #e6e9ec;
    background-color: #074eb8;
    font-size: large;
     
} 
 
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #e6e9ec;
    background-color: #074eb8;
    font-size: large;
}